<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-8">
      <h1> All our available friends for you<h1>
      <div class="nav-search">
        <div class="search">
          <%= form_with url: friends_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Look for a friend"
            %>
            <div>
              <%= submit_tag "Search", class: "button-rounded-green line-height-initial border-none" %>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to "Become a friend!", new_friend_path, class: "button-rounded-green"  %>
        </div>
      </div>

      <div class="cards mt-3">
        <% @friends.each do |friend| %>
            <% @full_name = "#{friend.first_name} #{friend.last_name}" %>
            <div class="card-friend">
              <%= link_to friend_path(friend), class: "link" do %>
                <% if friend.photo.attached? %>
                  <%= cl_image_tag friend.photo.key, crop: :fill, class: "card-friend-img" %>
                <% end %>
                <div>
                  <div class="card-friend-infos">
                    <h2><%= @full_name %></h2>
                    <h3><%= friend.category %></h3>
                    <p><%= friend.price%> €/h</p>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="maps" id="map">
        <div style="width: 100%; height: 100vh;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
