<div class="container mt-3">
  <div class="top-title-and-button">
    <h1> All your personnal bookings <h1>
      <button type="button" class="button-rounded-green">
        <%= link_to "Back to friends", friends_path %>
      </button>
  </div>
  <div class="nav-search-booking">
        <div class="search">
          <%= form_for  :search,
                        url: bookings_path,
                        method: :get,
                        class: "d-flex" do |f| %>
            <%= f.date_field :begin_date,
              as: :date,
              class: "form-control",
              placeholder: "Look for a date"
            %>
            <%= f.date_field :end_date,
              as: :date,
              class: "form-control",
              placeholder: "Look for a date"
            %>
            <div>
              <%= f.button "Search", class: "button-rounded-green" %>
            </div>
          <% end %>
        </div>
      </div>
    <hr class="line-seperate">
  <div class="cards-booking">
  <% @bookings.each do |booking| %>
    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'>
        <%= cl_image_tag booking.friend.photo.key %>
      </div>
      <div class="content">
        <h3> <%= booking.friend.first_name %> <%= booking.friend.last_name %> </h3>
        <p> <%= booking.friend.category %> </p>
        <p> <%= booking.friend.price %> €</p>
        <h2> <%= booking.date.strftime('%d/%m/%Y') %> </h2>
      </div>
      <button type="button" class="button-rounded-green">
        <%= link_to "Cancel the booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </button>
    </div>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
