<div class="container mt-3">

  <div class="top-title-and-button">
    <h1> All your personnal bookings <h1>
      <button type="button" class="button-rounded-green">
        <%= link_to "Back to friends", friends_path %>
      </button>
  </div>

    <hr class="line-seperate">
  <div class="cards-booking">

  <% @bookings.each do |booking| %>
    <div class="card d-flex position-relative flex-column">
      <div class='imgContainer'>
        <%= cl_image_tag booking.friend.photo.key %>
      </div>
      <div class="content">
        <h3> <%= booking.date %> </h3>
        <h2> <%= booking.friend.first_name %> <%= booking.friend.last_name %> </h2>
        <p> <%= booking.friend.category %> </p>
        <p> <%= booking.friend.price %> €</p>
      </div>
      <button type="button" class="btn btn-danger btn-small">
        <%= link_to "Cancel the booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </button>
    </div>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
